<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Avaliação Django</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 40px;
            line-height: 1.5;
        }
        nav a {
            margin-right: 15px;
        }
        .card {
            border: 1px solid #ccc;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 8px;
        }
    </style>
</head>
<body>
    <nav>
        <a href="/">Início</a>
        <a href="/biblioteca/generos/">Biblioteca</a>
        <a href="/escola/cursos-por-idioma/">Escola</a>
        <a href="/restaurante/reservas-por-restaurante/">Restaurante</a>
        <a href="/nacionalidades/">Nacionalidades</a></p>
    </nav>
    <hr>

    {% block content %}
    {% endblock %}
</body>
</html>
